* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5vh;
  z-index: 2;
}
nav {
  background-color: #ffffff;
  margin-right: 17vw;
  margin-top: -19vh;
  margin-left: 17vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 20vh;
  border-radius: 10px;
  padding-bottom: 3vh;
  display: flex;
  gap: 5vw;
}
nav a {
  text-decoration: none;
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo {
  width: 10vw;
  height: auto;
  margin-left: 4vw;
  margin-top: 10vh;
}
.sec-one {
  background-image: url(./main-aset/main-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 7vh;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 10px;
  z-index: 30;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/1200x/fe/d1/87/fed187db38e11d4d40e138a2fce15ddd.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: #1b1b1b;
}
.tagline {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  margin-left: 15vw;
  margin-top: 35vh;
  font-weight: bolder;
  font-size: 6vw;
}
.blue {
  font-size: 6vw;
  color: #1976d2;
  font-family: "Bebas Neue", sans-serif;
}
.red {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6vw;
  color: #e53935;
}
.text-category {
  display: flex;
  justify-content: center;
  margin-top: -10vh;
  margin-left: 33vw;
  position: relative;
  width: 30vw;
  height: 30vh;
  z-index: -20;
  background-color: #f57c00;
  border-radius: 20px;
}
.text-category h1 {
  color: #ffffff;
  align-items: center;
  margin-top: 15vh;
}
.card-parent {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  background-color: #1b1b1b;
  padding: 10vh 0;
  border-top: 6px solid #e53935;
  justify-content: space-around;
  overflow-y: hidden;
  overflow-x: hidden;
}
.card__image {
  height: 58vh;
  width: 20vw;
  border-radius: 20px;
  border: 3px solid #f57c00;
  margin-bottom: 5vh;
}
.hover:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
  border: 7px solid #f57c00;
}
.card__description {
  color: #1b1b1b;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  font-size: 18px;
  font-weight: 600;
}
.card__description--background{
  background-color: #e53935;
  width: 10vw;
  height: 15vh;
  margin-left: 5vw;
  margin-top: -13vh;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
}
.signature__section {
  background-color: #1b1b1b;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding: 3vh 0;
  overflow-y: hidden;
}
.signature__section__title {
  color: #ffffff;
  background-color: #1b1b1b;
  text-align: center;
  font-size: 36px;
  margin-bottom: -5vh;
  padding-top: 10vh;
}
.card__signature__image {
  height: 70vh;
  width: 25vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 3px solid #f57c00;
}
.marquee img{
  margin-left: 10vw;
}
.marquee {
  display: flex;
  align-items: center;
}
.adidas__logo{
  width: 30vw;
  height: auto;
}
.nike__logo{
  width: 30vw;
  height: auto;
}
.puma__logo{
  width: 30vw;
  height: auto;
}
.molten__logo{
  width: 30vw;
  height: auto;
}
.anta__logo{
  width: 30vw;
  height: auto;
}
.underarmour__logo{
  width: 30vw;
  height: auto;
}